<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jirbo.unitytest"
      android:versionCode="1"
      android:versionName="1.0">
    <!-- TODO: Replace the 'package' value above to reflect your app's package id. -->

    <!-- NOTE: Adjust minSDKVersion as desired. -->
    <uses-sdk android:minSdkVersion="6" />

    <!-- NOTE: You must have at least these four permissions for AdColony. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- NOTE: You must either use the default "UnityADCActivity" or supply
         your own alternate version of UnityPlayerActivity that does not quit() the 
         Unity player in the onDestroy() event handler . -->
    <application android:label="@string/app_name" android:icon="@drawable/app_icon">
        <activity android:name="com.jirbo.unityadc.UnityADCActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NOTE: You must include these three activity specifications for AdColony. -->
        <activity android:name="com.jirbo.adcolony.AdColonyOverlay" 
          android:configChanges="keyboardHidden|orientation"
          android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.jirbo.adcolony.AdColonyFullscreen" 
          android:configChanges="keyboardHidden|orientation"
          android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name="com.jirbo.adcolony.AdColonyBrowser" 
          android:configChanges="keyboardHidden|orientation"
          android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

    </application>
</manifest> 
